h2 {
    text-align: center;
}

#charts,
#ab-charts
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: space-between;
}

#objective-function {
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

#convergence-checkboxes {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#convergence-checkboxes label {
    width: 200px;
}

svg {
    padding:40px;
    box-sizing: content-box;
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: visible !important;
}

path {
    fill: none;
    stroke: #339CFF;
    stroke-width: 1px;
}

g line {
    stroke-width: 1px;
    stroke: #333;
    stroke-opacity: 0.4;
    shape-rendering: crispedges;
}

g text {
    color: black;
}

svg .tick text,
svg .tick2 text
{
    font-size: 12px;
}

svg .point {
    stroke: black;
    stroke-width: 1px;
    fill: #fff;
}

svg .point2 {
    stroke: black;
    stroke-width: 1px;
    fill: #339CFF;
}

svg .max {
    stroke: black;
    stroke-width: 2px;
    fill: #339CFF;
}

svg .domain {
    font-weight: bold;
}
